<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MIBarPrepBuddy</title>
</head>
<body>
<div class="col">
    <title>Michigan Bar Prep Essays by year</title>
    <container>
        <p>Hi! I'm another 3L studying for the Michigan bar and I decided to organize all the essays by subject. Then I thought, why not share my work? It's pretty annoying if you want to study Creditors' Rights or whatever to wade through everything.
        </p>

        <p>
            So here's all the questions and answers (starting in 2015, go back to 2009 next time I sit down to work on this) organized by topic. As I study, I'll add more resources.  I might also pull together outlines of each topic that just consist of the law inferred from the test answers. If anyone using this resource has any links you want to share, or if you've manually copied out a question or response already, or you have the topic coding for an earlier year, email me at e.feasley@gmail.com.
        </p>
        <p>
            The Michigan website has every exam is available from 2009 - 2020, and my plan is to link to the essays in reverse chronological order.
        </p>

    </container>

    <container>

        {% for t in topics %}

            <h2> {{t.topic}} </h2>
            {% for question in t.links %}
                <a href={{question.link}}>{{question.test_name}}</a> ||| <a href={{question.analysis}}>Analysis</a><br>
            {% endfor %}


        {% endfor %}
    </container>
</div>
</body>
</html>